<div class="page-wrapper">
  <app-bread-crumbs [data]="documentData[0]?.fileName"></app-bread-crumbs>

  <header class="my-2">
    <a (click)="back()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="currentColor"
        class="bi bi-arrow-left"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"
        />
      </svg>
    </a>
  </header>

  <div class="container-fluid px-0 mt-3">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <!-- Page title -->
          <div class="button">
            <button
              class="btn ms-2"
              style="color: white; background-color: var(--bs-secondary)"
              mat-raised-button
              type="button"
              *ngIf="editData"
              (click)="editDocument()"
            >
              Cancel
            </button>
            <button
              class="btn custom-btn ms-2"
              mat-raised-button
              type="button"
              *ngIf="editData"
              (click)="updateDocument(documentData[0].id)"
            >
              Save Changes
            </button>
          </div>
          <!-- Form START -->
          <form class="file-upload" [formGroup]="formBuild">
            <div class="row mb-5 gx-5">
              <!-- Contact detail -->
              <div class="col-xxl-8 mb-5 mb-xxl-0">
                <div class="bg-pink px-4 py-5 rounded">
                  <div class="row g-3">
                    <h3 class="mb-4 mt-0">
                      {{
                        documentData[0]?.fileName
                          .split("." + documentData[0]?.fileType)
                          .join("")
                      }}
                    </h3>
                    <!-- First Name -->
                    <div class="col-md-9">
                      <label class="form-label"
                        >File Name
                        <span *ngIf="editData" class="text-danger"
                          >*</span
                        ></label
                      >
                      <input
                        type="text"
                        class="form-control"
                        name="file"
                        id="file"
                        style="text-transform: uppercase"
                        [disabled]="!editData"
                        [value]="documentData[0].file"
                        formControlName="file"
                      />
                    </div>
                    <!-- Last name -->
                    <div class="col-md-3">
                      <label class="form-label"
                        >File Type
                        <span *ngIf="editData" class="text-danger"
                          >*</span
                        ></label
                      >
                      <!-- <input
                        type="text"
                        class="form-control"
                        placeholder=""
                        aria-label="Last name"
                        
                      /> -->
                      <select
                        class="form-select"
                        aria-label="Default select example"
                        id="select"
                        formControlName="fileType"
                      >
                        <option value="xlsx">Excel</option>
                        <option value="pdf">Pdf</option>
                        <option value="docx">Word/Docx</option>
                        <option value="ppt">Power Point</option>
                      </select>
                    </div>
                    <!-- Phone number -->

                    <!-- Mobile number -->

                    <!-- Email -->

                    <!-- Skype -->
                    <div class="col-md-12">
                      <label class="form-label"
                        >File Description
                        <span *ngIf="editData" class="text-danger"
                          >*</span
                        ></label
                      >
                      <textarea
                        class="form-control"
                        id="exampleFormControlTextarea1"
                        rows="3"
                        formControlName="description"
                      ></textarea>
                    </div>
                  </div>
                  <!-- Row END -->
                </div>
              </div>
            </div>
            <!-- Row END -->

            <div class="row mb-5 gx-5">
              <div class="col-xxl-6 mb-5 mb-xxl-0">
                <div class="bg-pink px-4 py-5 rounded">
                  <div class="row g-3">
                    <h4 class="mb-4 mt-0">Document Details</h4>

                    <div class="col-md-6">
                      <label class="form-label"
                        >Classification
                        <span *ngIf="editData" class="text-danger"
                          >*</span
                        ></label
                      >
                      <select
                        class="form-select"
                        aria-label="Default select example"
                        id="select"
                        formControlName="classification"
                      >
                        <option
                          *ngFor="let c of classificationContent"
                          value="{{ c }}"
                        >
                          {{ c }}
                        </option>
                      </select>
                    </div>
                    <div class="col-md-6">
                      <label class="form-label"
                        ><i class="fab fa-fw fa-pinterest text-pinterest"></i
                        >Uploader
                        <span *ngIf="editData" class="text-danger"
                          >*</span
                        ></label
                      >
                      <input
                        type="text"
                        class="form-control"
                        placeholder=""
                        aria-label="Pinterest"
                        [value]="documentData[0].user"
                        [disabled]="!editData"
                      />
                    </div>
                    <div class="col-md-6">
                      <label class="form-label"
                        ><i class="fab fa-fw fa-pinterest text-pinterest"></i
                        >Campus
                        <span *ngIf="editData" class="text-danger"
                          >*</span
                        ></label
                      >
                      <input
                        type="text"
                        class="form-control"
                        placeholder=""
                        aria-label="Pinterest"
                        formControlName="campus"
                        [disabled]="!editData"
                      />
                    </div>

                    <div class="col-md-6">
                      <label class="form-label">File Url </label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder=""
                        aria-label="Dribble"
                        [value]="documentData[0].fileUrl"
                        [disabled]="true"
                      />
                      <a
                        class="link-primary"
                        style="cursor: pointer"
                        (click)="copy(documentData[0].fileUrl)"
                        >Click to copy link.</a
                      >
                    </div>
                    <div class="col-md-6">
                      <label class="form-label"
                        ><i
                          class="fab fa-fw fa-linkedin-in text-linkedin me-2"
                        ></i
                        >Date Added
                      </label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder=""
                        aria-label="Linkedin"
                        [value]="documentData[0].dateAdded | date: 'medium'"
                        [disabled]="true"
                      />
                    </div>
                  </div>
                  <!-- Row END -->
                </div>
              </div>

              <!-- change password -->
            </div>

            <div class="button" *ngIf="!isLoading">
              <a
                [href]="documentData[0]?.fileUrl"
                #link
                hidden
                target="_blank"
              ></a>
              <button
                class="btn custom-btn"
                mat-raised-button
                type="button"
                *ngIf="!checkUser(documentData[0]?.canAccess)"
                (click)="requestAccess(documentData[0]?.id)"
              >
                Request Access
              </button>
              <button
                class="btn edit-btn ms-2"
                mat-raised-button
                type="button"
                *ngIf="documentData[0]?.user == profile[0].username"
                (click)="editDocument()"
              >
                Edit
              </button>
              <button
                class="btn custom-btn ms-2"
                mat-raised-button
                type="button"
                *ngIf="documentData[0]?.user == profile[0].username"
                (click)="deleteDocument(documentData)"
              >
                Delete
              </button>
              <button
                class="btn download-btn ms-2"
                mat-raised-button
                type="button"
                *ngIf="checkUser(documentData[0]?.canAccess)"
                (click)="link.click()"
              >
                Download
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
