<div class="page-wrapper">
  <div class="container">
    <div class="py-4">
      <!-- <markdown
        class="variable-binding"
        [data]="aboutContent[0]?.aboutContent"
      ></markdown> -->
      <div class="row mt-3">
        <div class="col">
          <h1>Help</h1>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <h2>Is there a file size limit when uploading documents?</h2>
          <p class="mt-2">
            - None, but the limit is undertaken when storage is already full.
            Once full, uploading files are not allowed until the storage is
            upgraded.
          </p>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <h2>
            Are all documents in the system accessible on a mobile device?
          </h2>
          <p class="mt-2">
            - Yes, DMS is accessible through mobile devices and files are still
            downloadable.
          </p>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <h2>What types of documents can be stored?</h2>
          <p class="mt-2">
            - DMS has a limited type of document, either Word, Spreadsheets,
            PDF, or PowerPoint.
          </p>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <h2>Can I sort or group my documents?</h2>
          <p class="mt-2">
            - Yes, DMS provides a list of categories so that you can easily sort
            or group your documents based on its classification.
          </p>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <h2>Can I create my own account?</h2>
          <p class="mt-2">
            - No, the administrator will be the one who creates the account for
            security purposes.
          </p>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <h2>Can I change my password once created?</h2>
          <p class="mt-2">
            - Yes, there will be a user profile and passwords are changeable.
          </p>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <h2>
            What will happen if my request document is still not approved?
          </h2>
          <p class="mt-2">
            - Yes, there will be a user profile and passwords are changeable.
          </p>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <small
            ><strong
              ><em
                >For more concern, you can email us at
                elvira.librarypb@g.batstate-u.edu.ph.</em
              ></strong
            ></small
          >
        </div>
      </div>
    </div>
  </div>
</div>
