.full-width-table {
  width: 100%;
}
button{
  border-radius: 5px;
}
.action-btn{
  color: white;
}
.modal
{
  .form-control{
    border-radius: 5px;
    font-size: 15px;
  }
}
.edit-btn{
  background-color: var(--bs-success);
}
.view-btn{
  background-color: var(--bs-secondary);

}
.delete-btn{
  background-color: var(--bs-danger);

}
.download-btn{
  background-color: var(--bs-primary);

}
.action{
  display: flex;
  flex-direction: row;
  padding-block: .8em;
  justify-content: space-between;
  align-items: center;
}
.action>* + *{
  margin-left: 10px;

  input{
    width: 350px;
    height: 100%;
    background-color: #f2f2f3 ;
    border-color: #f2f2f3;
    font-size: 15px;
    border-radius: 5px;
  }
}

.custom-btn{
  background-color: #cb2d3c;
  color: white;
  display: flex;
  align-items: center;
  


  &:hover{
    background-color: #b32836;
  color: white;
  }
}

.action-cell >*+*{
margin-left: 10px;
}


.td{
  padding-block: 20px;
  text-transform: capitalize;
  


}
.td+.td{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 80px;
}

small{
  color: #b32836;
}
.button-group{
  display: flex;
  align-items: center;
  
}
td.mat-cell{
  border: none;
  font-size: .95em;
  font-weight: 500;
  text-transform: capitalize;
}

 tr.mat-row:nth-child(even){
  background-color: #FCF4F4;
}
      
tr.mat-row:nth-child(odd){
  background-color: #fff;
}
th.mat-header-cell{
  background-color: #FCF4F4;
  text-transform: capitalize;
  text-align: center;
  font-weight: 700;


}


.flex{
  display: flex;
  align-items: center;

  max-width: 25em;

}