<div class="mat-elevation-z0">
  <div class="row my-3">
    <div class="col-md-8 col-sm-10">
      <div class="row">
        <div class="col-md-3 mb-3">
          <button
            class="custom-btn"
            data-bs-toggle="modal"
            data-bs-target="#uploadModal"
            mat-raised-button
            (click)="exportexcel()"
          >
            <!-- <button class="custom-btn" mat-raised-button (click)="inputField.click()"> -->
            <input type="file" #inputField hidden />
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-upload"
              viewBox="0 0 16 16"
            >
              <path
                d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"
              />
              <path
                d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z"
              />
            </svg>
            <span>Export to Excel</span>
          </button>
        </div>
        <div class="col-md-9 col-sm-12">
          <form action="">
            <div class="row">
              <div class="col-md-8 col-sm-8 col-xs-8 mb-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Search"
                  (keyup)="searchFilter($event)"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-2">
      <button
        mat-mini-fab
        (click)="ngAfterViewInit()"
        style="background: none; border-radius: 50%; float: right"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="black"
          class="bi bi-arrow-repeat"
          viewBox="0 0 16 16"
        >
          <path
            d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"
          />
          <path
            fill-rule="evenodd"
            d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"
          />
        </svg>
      </button>
    </div>
  </div>

  <table
    mat-table
    class="full-width-table"
    matSort
    aria-label="Elements"
    id="excel-table"
  >
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id No.</th>
      <td mat-cell *matCellDef="let row">{{ row.idNumber }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
      <td mat-cell *matCellDef="let row" class="td">{{ row.userName }}</td>
    </ng-container>
    <ng-container matColumnDef="campus">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Campus</th>
      <td mat-cell *matCellDef="let row" class="td">{{ row.campus }}</td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let row" class="td">{{ row.timeCreated }}</td>
    </ng-container>
    <!-- <ng-container matColumnDef="timein">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Time in</th>
      <td mat-cell *matCellDef="let row" class="td">{{ row.name }}</td>
    </ng-container> -->

    <ng-container matColumnDef="activity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Activity</th>
      <td mat-cell *matCellDef="let row" class="td">{{ row.activity }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    #paginator
    [length]="dataSource.data.length"
    [pageIndex]="0"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 20, dataItems.length]"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
