.full-width-table {
  width: 100%;
}
button {
  border-radius: 5px;
}
.action-btn {
  color: white;
}
.modal {
  .form-control {
    border-radius: 5px;
    font-size: 15px;
  }
}
.edit-btn {
  background-color: var(--bs-success);
}
.delete-btn {
  background-color: var(--bs-danger);
}
.download-btn {
  background-color: var(--bs-primary);
}
.action {
  display: flex;
  flex-direction: row;
  padding-block: 0.8em;
  justify-content: space-between;
  align-items: center;
}
.action > * + * {
  margin-left: 10px;

  input {
    width: 350px;
    height: 100%;
    background-color: #f2f2f3;
    border-color: #f2f2f3;
    font-size: 15px;
    border-radius: 5px;
  }
}

.custom-btn {
  background-color: #cb2d3c;
  color: white;
  display: flex;
  align-items: center;
  span {
    margin-left: 0.7em;
  }

  &:hover {
    background-color: #b32836;
    color: white;
  }
}

.action-cell > * + * {
  margin-left: 10px;
}

.td {
  padding-block: 20px;
  color: var(--text-black);
}

small {
  color: #b32836;
}
.button-group {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
td.mat-cell {
  border: none;
  font-size: 0.95em;
  font-weight: 500;
}
tr.mat-row:nth-child(even) {
  background-color: #fcf4f4;
}

tr.mat-row:nth-child(odd) {
  background-color: #fff;
}
th.mat-header-cell {
  background-color: #fcf4f4;
  text-transform: capitalize;
  text-align: center;
  font-weight: 700;
}

.display-flex {
  display: flex;
}
