<div class="page-wrapper">
  <div class="container h-100 flex">
    <div class="content">
      <div
        class="text-wrapper w-100 text-center"
        data-aos="fade-up"
        data-aos-offset="200"
        data-aos-delay="50"
        data-aos-duration="1000"
      >
        <h3>Store your files with</h3>
        <h1>Document Management System</h1>
        <h3>Organize and manage documents</h3>
      </div>
      <button
        type="button"
        class="btn custom-btn"
        data-aos="fade-up"
        data-aos-delay="500"
        data-aos-duration="1000"
        routerLink="/login"
      >
        Get Started
      </button>
    </div>
  </div>
</div>
