.dashboard{
    padding-top: 81px;
    min-height: 100vh;
    background-color: #dae3e7;

}

.side-bar{
    background-color: #3e4246;
    min-height: 100%;
    width: 300px;
    position: fixed;
    padding-block: 1.5em;


    .side-bar-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        height: calc(100vh - 115px);


        .side-nav{
            list-style: none;
            padding: 0;
            

            li{
                padding-block: 1.2em;
                padding-inline: 2em;
                color: white;
                cursor: pointer;
                position: relative;
                &:hover{
                background-color: #cb2d3d98;

                }
                svg{
                    margin-right:1em ;
                }
                .bi-chevron-right{
                   float: right;  
                   margin: auto;     
                   transform: translateY(2px);          
                }
                .bi-chevron-right.open{
                    transform:translateY(2px) rotate(90deg);
                }

            

            }
            li.active{
                
                    background-color: #cb2d3c;
    
                
            }
        }
    }
    .closer{
    padding-inline: 1em;
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: right;


    }
}
.side-bar.collapsed{
    width: 72.36px;
    .side-bar-content{
        .side-nav{
            li{
                svg{
                    margin: 0;
                }
                span{
                    // display: none;
                    position: absolute;
                    transform: translateX(-400px);
                }
                .bi-chevron-right{
                    display: none;      
                 }
            }
           
        }
    }
    
    
}
.no-style{
    background: transparent;
    border: none;


    .bi.collapsed{
        transform: rotate(180deg);
    }
}
.page-wrapper{
    margin-left: 310px;
    
}
.page-wrapper.collapsed{
    margin-left: 72.36px;
}

.link-dark{
    margin-left: 20px;

   
}
.activeClass{
    background-color:#a42e3a ;
}