<div class="page-wrapper">
  <div class="container text-center" style="display: block">
    <div class="row">
      <div class="col">
        <div
          class="card"
          data-aos="fade-right"
          data-aos-offset="200"
          data-aos-delay="50"
          data-aos-duration="1000"
        >
          <div class="card-header"><h4>University Vision</h4></div>

          <div class="card-body">
            A premier national university that develops leaders in the global
            knowledge economy.
          </div>
        </div>
      </div>
      <div class="col-6">
        <div
          class="card"
          data-aos="fade-down"
          data-aos-offset="200"
          data-aos-delay="50"
          data-aos-duration="1000"
        >
          <div class="card-header"><h4>University Mission</h4></div>
          <div class="card-body">
            A university commited to producing leaders by providing 21st century
            learning environment through education, multidisciplinary research,
            and community and industry partnerships in order to nurture the
            spirit of nation hood propel the national economy , and engage the
            world for sustainable development.
          </div>
        </div>
      </div>
      <div class="col top">
        <div
          class="card"
          data-aos="fade-left"
          data-aos-offset="200"
          data-aos-delay="50"
          data-aos-duration="1000"
        >
          <div class="card-header"><h4>Core Values</h4></div>

          <div class="card-body">
            <ul style="list-style: none; padding: 0">
              <li>Patriotism</li>
              <li>Service</li>

              <li>Integrity</li>

              <li>Resilience</li>
              <li>Excellence</li>
              <li>Faith</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col">
        <div
          class="card"
          data-aos="fade-up"
          data-aos-offset="200"
          data-aos-delay="50"
          data-aos-duration="1000"
        >
          <div class="card-header"><h4>About the University</h4></div>
          <div class="card-body">
            <div class="container-fluid">
              <div class="row">
                Batangas State University is a Level IV state university in the
                province of Batangas, Philippines. Established in 1903, the
                university is strategically located at the second largest
                economic region in the Philippines, which puts it at a prime
                position not only as a premier provider of higher and advanced
                learning, but also as a viable economic development zone.
              </div>
              <br />

              <div class="row">
                As one of the country’s model higher education institutions
                recognized by the Commission on Higher Education (CHED),
                BatStateU is the first and thus far the only state university in
                the Philippines with engineering, IT, and computer science
                programs accredited by the Accreditation Board for Engineering
                and Technology (ABET) – Engineering Accreditation Commission and
                Computing Accreditation Commission.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
