<div class="page-wrapper">
  <app-bread-crumbs [data]="'Dashboard'"></app-bread-crumbs>

  <div class="container-fluid p-0 mt-4">
    <div class="row row-cols-sm-3">
      <div class="col mb-4">
        <div class="card">
          <div class="container-fluid">
            <div class="row">
              <div
                class="col-lg-8 col-md-8 cursor"
                routerLink="/admin-dashboard/manage-documents"
              >
                <h3>Documents</h3>
                <h2>{{ documents.length }}</h2>
                <small>Total number of Documents</small>
              </div>
              <div class="col-lg-4 col-md-4">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="60%"
                  height="60"
                  fill="currentColor"
                  class="bi bi-folder-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.825a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3zm-8.322.12C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139z"
                  />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card">
          <div class="container-fluid">
            <div class="row">
              <div
                class="col-lg-8 col-md-8 cursor"
                routerLink="/admin-dashboard/manage-requests"
              >
                <h3>Requests</h3>
                <h2>{{ requests.length }}</h2>
                <small>Total number of Requests</small>
              </div>
              <div class="col-lg-4 col-md-4">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="60%"
                  height="60"
                  fill="currentColor"
                  class="bi bi-list-ul"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"
                  />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card">
          <div class="container-fluid">
            <div class="row">
              <div
                class="col-lg-8 col-md-8 cursor"
                routerLink="/admin-dashboard/manage-users"
              >
                <h3>Users</h3>
                <h2>{{ users.length }}</h2>
                <small>Total number of Users</small>
              </div>
              <div class="col-lg-4 col-md-4">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="60%"
                  height="60"
                  fill="currentColor"
                  class="bi bi-people-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"
                  />
                  <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="">
        <div class="charts p-2">
          <div class="row">
            <div class="col-md-6">
              <canvas
                baseChart
                width="400"
                height="400"
                [type]="'line'"
                [data]="lineChartData"
                [options]="lineChartOptions"
                [legend]="lineChartLegend"
              >
              </canvas>
            </div>

            <div class="col-md-6" style="display: grid; place-items: center">
              <canvas
                baseChart
                [type]="'pie'"
                [datasets]="pieChartDatasets"
                [labels]="pieChartLabels"
                [options]="pieChartOptions"
                [plugins]="pieChartPlugins"
                [legend]="pieChartLegend"
              >
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
