.page-wrapper{
    padding: 1.5em 1em;
}

.breadcrumbs{
    background: white;
    padding: .8em 1em;

    margin: 0;
}

*,h1,h2,h3,h4,h5{
    font-family: 'Nunito', sans-serif;
}
.card{
    border: none;
    border-radius: 0;
    padding-block: .8em;
}
.charts{
    background-color: white;
    
}

.cursor{
    cursor: pointer;
}